.projects {
  padding-top: 4.3em;
  
  &-banner {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em 0;
    border-radius: 20px;
    background: linear-gradient(#770044, #d15a60, #770044);
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  &-intro {
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: 2em 0;
  }

  &-cards {
    
    &-img {
      width: 100%;
      height: 20vh;
      object-fit: fill;
    }
    &-body {
      background-color: black;
      border-top: 1px solid white;
    }
    &-title {
      color: #ad69e2;
      text-align: center;
      font-size: 1.8em;
    }
    &-text {
      color: #d15a60;
      text-align: center;
      line-height: 1.5em;
    }
    &-links {
      text-align: center;
      margin-top: 1em;
    }
    &-link {
      color: #63b4f9;
      font-size: 1em;
      text-decoration: none;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 2px;
        background-color: #ad69e2;
        transition: transform 250ms;
      }
      
      &:hover {
        &::after {
          transform: translateX(-50%) scaleX(1);
        }
      }
    }
  }
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 10px 5px 5px #ad69e2;
}
.card {
  transition: 0.5s;
}

.card-group {
  justify-content: center;
  margin-bottom: 20em;
}

@media (max-width: 576px) {
  .projects-banner {
    font-size: 1.2em;
    padding: 0.3125em 0.625em;
  }
  .projects-intro {
    font-size: 1em;
    margin: 1em 0;
  }
  .card {
    margin: 0 0 2em 0 !important;
  }
  .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects-cards-title {
    font-size: 1.2em;
  }
  .projects-cards-text {
    font-size: 1em;
    line-height: normal;
  }
  .projects-cards-links {
    margin-top: 1em;
  }
}
